<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <% pessoas.forEach((pessoa) => { %>
        <div>
          <div>
            <div>
              <h3>ID: <%= pessoa.id %></h3>
              <p>Nome: <%= pessoa.nome %></p>
              <p>Sobrenome: <%= pessoa.sobrenome %></p>
              <p>Idade: <%= pessoa.idade %></p>
              <p>Altura: <%= pessoa.altura %></p>
            </div>
            <div>
              <button><a href="/pessoas/delete/<%= pessoa.id %>">Excluir</a></button>
            </div>
          </div>
        </div>
    <% }) %>
</body>
</html>
