<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/style.css"/>
    <title>CADASTROS REALIZADOS</title>
</head>
<body>

    <% pessoas.forEach((pessoa) => { %>

      <div class="container">

        <div class="dados">
          <div class="ident">ID: <%= pessoa.id %></div>
              <p>Nome: <%= pessoa.nome %></p>
              <p>Sobrenome: <%= pessoa.sobrenome %></p>
              <p>Idade: <%= pessoa.idade %></p>
              <p>Altura: <%= pessoa.altura %></p>
        </div>

              <button>
                <a href="/pessoas/delete/<%= pessoa.id %>">Deletar</a>
              </button>

      </div>

    <% }) %>

</body>
</html>
